<div class="ui padded grid">
  <div class="row">
    <div class="sixteen wide column">
      <h3 class="ui center aligned block header"> Mr. Gill, Period 6 (13 students), 05/04-05/06/16 </h3>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui vertical segment">
      <h3 class="ui center aligned block header"> How many students have mastered the skills? </h3>
      {{
        horizontal-bar-chart
        maxBarThickness=40
        data=skill-data
        sortKey=id
        selectedSeedColor="#1E4D8F"
      }}
    </div>
    {{!-- <div class="ui vertical segment">
      <h3 class="ui center aligned block header"> How many students have misconceptions? </h3>
      {{
        horizontal-bar-chart
        maxBarThickness=40
        data=misconception-data
        sortKey=id
        selectedSeedColor="#CE612C"
      }}
    </div> --}}
  </div>
  <div class="eight wide column">
    <div class="ui vertical segment">
      <h3 class="ui center aligned block header"> Which skills take a lot of practice? </h3>
    </div>
  </div>
</div>
