<div class="ui icon message">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      {{moment-format time 'h:mm:ss a' allow-empty=true}}
    </div>
    <p>We're streaming server time for you.</p>
  </div>
</div>
