<div class="ui padded grid">
  <div class="row">
    <div class="sixteen wide column">
      {{live-number}}
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      {{notification-receiver}}
    </div>
  </div>
</div>
