<div class="ui list left aligned">
  <div class="item">
    <div class="header">Student Name:</div>
    {{student.name}}
  </div>
  <div class="item">
    <div class="header">Number of Opportunity:</div>
    {{opportunity}}
  </div>
  <div class="item">
    <div class="header">Mastery Status:</div>
    {{status}}
  </div>
</div>
